/**modif a faire:  7. responsive ca gate le reste donc voir coe dimunuer media querry. et revoir les button*/

body{
    box-sizing: border-box;
    overflow:hidden ;
    color: orange;
    background: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    max-width: 400rem;
    box-sizing: border-box;
}
hr{
    opacity: 2rem;
    color: orangered;
}
/*header*/
.container-sm{
    display: flex;
    gap: 30px;
    padding-top: 35px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
h1{
    font-size: 4.5rem;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 16px;
    
   
}
.message-wrapper{
   margin-top: 10px;
   padding-top: 15px;
   

}
.subheading-text{
    font-size: 1em;
    line-height: 1.6;
    margin-left: 20px;
    margin-top: 108px;
    
}
.image-of-women-flower{
    max-width: 40%;
    margin-right: 6px;
    margin-bottom: 15px; 
    border-radius: 200px 200px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.welcome-text{
    
    padding-bottom:10px ;
}

/*bouncing letters*/

@keyframes waveAnimation{
    0%,40%,100%{
        transform:translateY(0) ;
    }
    20%{
        transform: translateY(-70px);
    }
}
span[role="bouncing-number"]{
    font-family: Georgia, serif;
    color: orangered ;
    position: relative;
    display: inline-block;
    letter-spacing: 8px;
    animation: waveAnimation 1s infinite;
    animation-delay: calc(.1s * var(--index));
}
/*Carousel*/
#carouselExampleAutoplaying{
    padding: 25px;
    margin: 30px ; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    overflow: hidden;  
}
.quote-text{
    margin-top: 30px;
    padding: 10px;
    color: orangered;
}
.carousel-inner{
    display: flex;
    gap: 15px;
}
.carousel-item{
    text-align: center;
    width:80%;
    height: auto;
    padding: 16px;
    margin-left: 58px;
    background: white;
    border-radius: 20px; 
    box-sizing: border-box;
    
}
section{
    position: relative;
    top: 20px;
    left: 25%;
    padding-bottom: 25px;
}

/*Goal description Section */
.main-section-sm{
    display:flex;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
    margin: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background:white;
    align-items: center;
    justify-content: space-between;
   
}
.goal-description{
    max-width: 80%;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px; 
    margin-left: 20px;

}
.description{
    font-size: 1em;
    line-height: 1.6;
    margin-left: 28px;
    
}
.womangoal{
    max-width: 40%;
    margin-right: 15px;
    margin-bottom: 15px; 
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/*dropdown*/
form{
    text-align: center;
}
/*Progress Bars*/

@keyframes progress{
    0% {--percentage: 0;}
    100% {--percentage: var(--value);}
}
@property --percentage{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.progress-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding: 20px;
    margin: 60px;
    margin-bottom: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}
.progressbar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.progressbar-item:hover{
    transform: translateY(-10px);
}
div[role="progressbar"]{
    --percentage: var(--value);
    --primary: #3b82f6;
    --secondary: #93c5fd;
    --size: 120px;
   
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
   
}
div[role="progressbar"]:hover{
    animation: progress 2s 0.5s forwards;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    
}
div[role="progressbar"]::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage)* 1%),var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}
div[role="progressbar"]::after{
    counter-reset: percentage var(--value);
    content: counter(percentage)'%';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(var(--size)/5);
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#progress-title{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    transition: color 0.3s ease;
    }
#progress-title:hover{
        color: chartreuse;
    }
/* buttons*/
button{
    background: darkorange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button{
    transition: all 150ms ease-in-out;
}
button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: orangered;
    cursor: pointer;

}
.theme-button{
     position: relative;
     top: 14px;
     left: 50%;
    

}

.welcome-button{
  position: relative;
  top: 18px;
  left: 15%;
}

/* Dark theme */
.dark-theme{
    background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); ;
  
    }
    .dark-theme a{
      color:orangered;
    }

    .dark-theme footer{
      color: #666;
     
    }
  .dark-theme button{
    background: linear-gradient(145deg, #6e7c91, #c6d5e4);

  }
  .dark-theme button:hover{
    color: orangered;
  }
  .dark-theme .dark-theme-button{
    padding-bottom: 10px;
    margin-bottom: 12px;
  }
  .dark-theme .goal-progress{
      color: #000;
  }
  .dark-theme .subheading-title{
      color: white;
  }
  .dark-theme .container-sm{
    background: #01005e; 
    color: white;
  }
  .dark-theme form{
    background: #01005e;
    padding: 40px;
    
  }
  /*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #999;
    background: white;
}
footer a{
    color: wheat;
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
    color: orangered;
   
}
.insta-logo{
    width: 20px;
}
.insta-logo:hover{ 
    width: 30px;
    cursor: pointer;
}
/*scroll behavior*/
html{
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;/*ensure the page dont scroll left right!*/
}
/* responsiveness with media querries*/
@media (max-width: 800px){
 /*Hide the image (already done with Bootstrap utilities classes in html file)*/
 
 /*reduce title size*/
 .welcome-text,  h3{
    font-size: 1.5rem;
    text-align: center;
 }
 /*center text for small screens*/   
 .subheading-text, .description{
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: justify;
 }

.progress-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    margin: 0 auto;
    align-items: center;
    overflow: visible; /*to prevent elements from being cut off*/
}
/*remove the carousel*/
section{
display: none;
}

footer{
    font-size: 0.8rem;
    padding: 16px;
    margin-top: 10px; 
    text-align: center;
}
}
      
  
  